body {
	background-color: $primary-color-4;
	color: $primary-color-3;
}


.container {
	max-width: 1100px + 40px;
	margin: 0 auto;
	padding: 0 20px;
}


.back-title {
	margin-top: 120px;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		width: 6px;
		height: 180px;
		background-color: $secondary-color-1;
		bottom: -212px;
		left: 50%;
		transform: translateX(-50%);
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
	}

	.title {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 5px;
			height: 65px;
			background-color: $secondary-color-1;
			bottom: -210px;
		}

		&::before {
			left: 50%;
			transform: rotate(-30deg) translateX(-22px);
			border-bottom-left-radius: 4px;
		}

		&::after {
			right: 50%;
			transform: rotate(30deg) translateX(22px);
			border-bottom-right-radius: 4px;
		}
	}
}