.example {
	margin-top: 470px;
	margin-bottom: 600px;

	&__content {

		&-item {
			margin-bottom: 80px;

			.width-control-container-1,
			.width-control-container-2 {
				display: flex;
				justify-content: space-between;
				margin-top: 24px;

				color: transparent;
				font-size: 0;
			}

			.width-control-container-1 {

				.width-control-block-1,
				.width-control-block-2 {
					height: 250px;
					border-radius: 10px;
				}

				.width-control-block-1 {
					background-color: $primary-color-1;
					width: 380px;
				}

				.width-control-block-2 {
					background-color: $secondary-color-1;
					width: 600px;
				}
			}

			.width-control-container-2 {

				.width-control-block-1,
				.width-control-block-2,
				.width-control-block-3 {
					height: 250px;
					border-radius: 10px;
				}

				.width-control-block-1 {
					background-color: $primary-color-1;
					width: 320px;
				}

				.width-control-block-2 {
					background-color: $secondary-color-1;
					width: 500px;
					margin-top: 30px;
				}

				.width-control-block-3 {
					background-color: $secondary-color-1;
					width: 200px;
				}
			}
		}
	}
}